$off-white: #f5f5f5;
$gray-light: #ddd;
$gray-dark: #2a2a2a;
$gray: #999;
$pad-small: 0.5rem;

* {
   margin: 0;
   padding: 0;
}

body {   
   background-color: $off-white;
   font-family: 'Raleway', sans-serif;
   color: $gray-dark;
   
   input[type="text"] {
      padding-left: $pad-small;
      margin-left: -$pad-small;
      width: 100%;
      line-height: 1.8rem;
      font-size: 1rem;
      font-family: inherit;
      background-color: $off-white; 
      border: 0px;
   }
}

.content {
   margin: 80px auto;
   max-width: 1200px;
}

table{
   margin: 0 auto;
   width: 90%;
   background-color: $gray-light;
   border: 1px solid $gray;
   
   thead {
      th {
         padding-left: $pad-small;
         line-height: 2rem;
         font-size: 1.25rem;
      }
   }
   
   tbody {
      td {
         padding-left: $pad-small;         
         border: 1px solid $gray;
         line-height: 1.8rem;
      }
   }   
}

.edit, .trash, .new-row {
   $time: 0.4s;
   
   padding: 0;
   text-align: center;
   text-transform: uppercase;
   transition: background-color $time ease;
   transition: color $time ease;
   
   &:hover {
      cursor: pointer;
      background-color: $gray-dark;
      color: $gray-light;
   }
}