<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <meta charset="UTF-8">
    <title> CRUD Shopping Cart </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>

</head>

<body ng-controller="SampleCtrl">
<div class="content">
    <h1 class="text-center" align="center"> CRUD Shopping Cart <i class="material-icons" style="font-size:36px">insert_emoticon</i></h1>
<br>
    <table>
        <thead>
        <tr>
            <th style="width:20%; text-align:center">Product Name</th>
            <th style="width:30%; text-align:center">Product Price</th>
            <th style="width:15%; padding:0">Edit </th>
            <th style="width:15%; padding:0">Delete</th>
        </tr>
        </thead>
        <tbody>

        <!--<tr>-->
            <!--<td class="name">iPhone 7</td>-->
            <!--<td class="price">36,000</td>-->
            <!--<td class="edit"><i class="fa fa-edit" style="font-size:20px"></i></td>-->
            <!--<td class="trash"><i class="fa fa-trash" style="font-size:20px"></i></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="name">MacBook</td>-->
            <!--<td class="price">65,000</td>-->
            <!--<td class="edit"><i class="fa fa-edit" style="font-size:20px"></i></td>-->
            <!--<td class="trash"><i class="fa fa-trash" style="font-size:20px"></i></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="name">Canon 60D</td>-->
            <!--<td class="price">28,000</td>-->
            <!--<td class="edit"><i class="fa fa-edit" style="font-size:20px"></i></td>-->
            <!--<td class="trash"><i class="fa fa-trash" style="font-size:20px"></i></td>-->
        <!--</tr>-->

        <! ------------- Object from FireBase ------------>

        <tr ng-repeat="obj in ref">
            <td class="name"> {{obj.name}}</td>
            <td class="price"> {{obj.price}} </td>
            <td class="edit"><i class="fa fa-edit" style="font-size:20px"></i></td>
            <td class="trash"><i class="fa fa-trash" style="font-size:20px"></i></td>
        </tr>

        <tr>
            <td class="new-row" colspan="4">Add More Product</td>
        </tr>

        </tbody>
    </table>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAjZXgyc_Wi2xdMkcXSwLYqUAMER7C4T2I",
        authDomain: "crud-firebase-e3738.firebaseapp.com",
        databaseURL: "https://crud-firebase-e3738.firebaseio.com",
        storageBucket: "crud-firebase-e3738.appspot.com",
        messagingSenderId: "359920044635"
    };

    firebase.initializeApp(config);

    // Get a reference to the database service
    var database = firebase.database();
</script>

<script src="app/app.js"></script>
</body>

</html>
